body {

    color: #ff0000;
    background-color: rgb(230, 233, 255);
    font-family: Arial; 
  }
 
 .tag {
     font-family: Arial; 
     font-size: large;
    }  

.jumbotron {
    background-image: url("../static/microscope-bacteria.jpeg");
    background-size: 100% 100%;
    text-align: center;
  }